body{
    margin: 0;
    background-image:url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
#clock-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
}
#clock{
    font-family: arial;
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
    color: rgb(231, 49, 8);
    backdrop-filter: blur(3px);
    background-color: rgba(128, 128, 128, 0.125);
    width: 100%;
}